{% extends 'base.html' %}
{% load static %}

{% block title %}
Kids Product : Fav Cart India
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-sm-12 px-1">
        <div class="row rounded mt-2">
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>Kids </b>
                <b class="text-ocolor">Product <i class="fa-solid fa-cart-shopping"></i></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span><b>Category</B>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Product Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {% for x in cats %}
            <li class="list-group-item pt-3">
                <!-- start card -->
                <div class="card w-100" style="border:2px solid green">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/{{x.CPic}}" style="max-height:80px;" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="/user/kids?abc={{x.id}}" style="text-decoration:none;">
                                    <h5 class="card-title pt-2">{{x.Name}}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
        <!-- mens product start -->
        {% for a in prodata %}
    <div class="col col-lg-2 col-md-3 pt-4">
        <a href="/user/viewproduct?msg={{a.id}}" style="text-decoration: none;">
        <center>
            <img src="/{{a.ppic}}" class="img-thumbnail" style="max-height: 400px; min-width: 120px;"/>
        </center>
            <div class="pt-2">
                <b class="text-dark">{{a.pcategory}}</b>
                <b class="text-success ps-2 float-end"><i class="fa-solid fa-indian-rupee-sign text-primary"></i> {{a.dprice}}</b><br>
                <p class="text-dark pt-2" style="text-align: justify; font-family: 'Times New Roman', Times, serif;">{{a.pdes}}</p>
                </div>
                </a>
    </div>
    {% endfor %}
        <!-- mens product end -->
            </div>
    </div>
</div>
</div>
{% endblock %}